Repository marcel-goldammer/obsidian-keyword-highlighter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --plugin prettier-plugin-svelte

feat(02-01): add settings schema versioning and migration support
  src/stores/settings-store.ts
Due: prettier --write, eslint --fix

feat(02-01): add collapsible section component for settings ui
  src/settings/CollapsibleSection.svelte
Due: eslint --fix, prettier --write --plugin prettier-plugin-svelte

feat(02-02): restructure setting tab with collapsible sections
  src/settings/SettingTab.svelte
Due: eslint --fix, prettier --write --plugin prettier-plugin-svelte

fix(02): fix collapsible section visual issues from uat
  src/settings/CollapsibleSection.svelte
  src/settings/SettingTab.svelte
Due: eslint --fix, prettier --write --plugin prettier-plugin-svelte

feat(matching-enhancements): create keyword-resolver utility and update shared exports
  src/shared/index.ts
  src/shared/keyword-resolver.ts
Due: prettier --write, eslint --fix

feat(matching-enhancements): add case-sensitive setting to global settings with migration and ui
  src/settings/SettingTab.svelte
  src/stores/settings-store.ts
Due: prettier --write, eslint --fix, prettier --write --plugin prettier-plugin-svelte

feat(matching-enhancements): update editor-highlighter with dual cursor modes
  src/editor-extension/editor-highlighter.ts
Due: prettier --write, eslint --fix

feat(matching-enhancements): update reader-highlighter with dual matching modes
  src/reader-extension/reader-highlighter.ts
Due: prettier --write, eslint --fix

feat(matching-enhancements): add regex visual indicator badge to keyword setting
  src/settings/KeywordSetting.svelte
Due: eslint --fix, prettier --write --plugin prettier-plugin-svelte

refactor(matching-enhancements): extract match strategies and move regex badge to heading
  src/editor-extension/editor-highlighter.ts
  src/reader-extension/reader-highlighter.ts
  src/settings/KeywordSetting.svelte
  src/shared/index.ts
  src/shared/text-matcher.ts
Due: prettier --write, eslint --fix, prettier --write --plugin prettier-plugin-svelte

docs(matching-enhancements): added case sensitivity and regex patterns
  README.md
Due: prettier --write

feat: implement settings migration system
  .gitignore
  src/keyword-highlighter-plugin.ts
  src/migrations/backup-manager.ts
  src/migrations/data-validator.ts
  src/migrations/migration-manager.ts
  src/migrations/migration-script.ts
  src/migrations/scripts/migration-001.ts
  src/migrations/types.ts
  src/migrations/utils.ts
  src/stores/settings-store.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md,css})
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write --plugin prettier-plugin-svelte: any of: *.svelte
